In [22]:
import pandas as pd
import numpy as np
import FinanceDataReader as fdr
import datetime

start_date = datetime.datetime.now() - datetime.timedelta(days=365*20)
# 현재 시간으로부터 20년 전 날짜 계산


df_kospi = fdr.DataReader('KS11', start_date)
df_kosdaq = fdr.DataReader('KQ11', start_date)
df_dow = fdr.DataReader('DJI', start_date)
df_nasdaq = fdr.DataReader('IXIC', start_date)
df_snp500 = fdr.DataReader('US500', start_date)

df_samsung = fdr.DataReader('005930', start_date)

In [21]:
df_kospi

,Open,High,Low,Close,Adj Close,Volume
Date,,,,,,
2003-03-06,564.739990,564.869995,551.799988,555.330017,555.330017,735600.0
2003-03-07,547.890015,555.380005,544.090027,546.020020,546.020020,635100.0
2003-03-10,545.539978,548.289978,541.289978,544.239990,544.239990,607100.0
2003-03-11,531.780029,538.619995,530.549988,532.530029,532.530029,657900.0
2003-03-12,531.169983,534.760010,524.530029,531.809998,531.809998,793800.0
...,...,...,...,...,...,...
2023-02-21,2457.510010,2466.070068,2446.000000,2458.959961,2458.959961,494300.0
2023-02-22,2430.870117,2435.979980,2416.159912,2417.679932,2417.679932,426700.0
2023-02-23,2430.010010,2449.620117,2422.620117,2439.090088,2439.090088,400300.0
2023-02-24,2442.489990,2452.969971,2421.469971,2423.610107,2423.610107,369200.0
2023-02-27,2405.419922,2405.560059,2383.760010,2402.639893,2402.639893,357218.0

In [14]:
df_kosdaq

,Open,High,Low,Close,Adj Close,Volume
Date,,,,,,
2003-03-06,394.299988,395.600006,380.200012,381.899994,381.899994,282000.0
2003-03-07,371.100006,373.000000,366.399994,366.899994,366.899994,302600.0
2003-03-10,364.899994,367.700012,361.399994,362.000000,362.000000,286600.0
2003-03-11,353.200012,356.399994,351.899994,354.299988,354.299988,304600.0
2003-03-12,354.299988,368.299988,354.000000,368.299988,368.299988,342400.0
...,...,...,...,...,...,...
2023-02-21,789.450012,793.419983,786.479980,793.419983,793.419983,1000.0
2023-02-22,782.830017,787.849976,774.539978,778.510010,778.510010,1100.0
2023-02-23,782.179993,784.590027,774.099976,783.280029,783.280029,900.0
2023-02-24,784.940002,786.090027,774.210022,778.880005,778.880005,1200.0
2023-02-27,775.010010,781.539978,769.750000,780.299988,780.299988,1146532.0

In [80]:
df_dow

,Open,High,Low,Close,Adj Close,Volume
Date,,,,,,
2003-03-06,7774.759766,7777.419922,7659.089844,7673.990234,7673.990234,231760000
2003-03-07,7671.750000,7743.819824,7562.649902,7740.029785,7740.029785,310190000
2003-03-10,7739.399902,7739.470215,7559.640137,7568.180176,7568.180176,215960000
2003-03-11,7568.529785,7642.410156,7520.629883,7524.060059,7524.060059,227470000
2003-03-12,7517.759766,7552.069824,7416.640137,7552.069824,7552.069824,286350000
...,...,...,...,...,...,...
2023-02-21,33699.691406,33699.691406,33115.738281,33129.589844,33129.589844,348320000
2023-02-22,33169.328125,33245.968750,32948.269531,33045.089844,33045.089844,321910000
2023-02-23,33175.390625,33272.398438,32795.671875,33153.910156,33153.910156,288120000
2023-02-24,32999.191406,32999.191406,32643.480469,32816.921875,32816.921875,277120000
2023-02-27,32906.160156,33189.281250,32906.160156,32998.730469,32998.730469,66522806

In [41]:
df_nasdaq

,Open,High,Low,Close,Adj Close,Volume
Date,,,,,,
2003-03-06,829.849976,829.849976,819.849976,822.099976,822.099976,1299200000
2003-03-07,822.099976,829.549988,811.229980,828.890015,828.890015,1368500000
2003-03-10,828.890015,828.890015,806.570007,807.479980,807.479980,1255000000
2003-03-11,807.479980,814.250000,800.299988,800.729980,800.729980,1427700000
2003-03-12,800.729980,804.190002,788.900024,804.190002,804.190002,1620000000
...,...,...,...,...,...,...
2023-02-21,4052.350098,4052.350098,3995.189941,3997.340088,3997.340088,4121590000
2023-02-22,4001.830078,4017.370117,3976.899902,3991.050049,3991.050049,4079320000
2023-02-23,4018.600098,4028.300049,3969.189941,4012.320068,4012.320068,3952940000
2023-02-24,3973.239990,3978.250000,3943.080078,3970.040039,3970.040039,3877700000
2023-02-27,3992.360107,4012.489990,3992.360107,4011.449951,4011.449951,267818427

In [86]:

# df_kospi = fdr.DataReader('KS11', start_date)
# df_kosdaq = fdr.DataReader('KQ11', start_date)
# df_dow = fdr.DataReader('DJI', start_date)
# df_nasdaq = fdr.DataReader('IXIC', start_date)
# df_snp500 = fdr.DataReader('US500', start_date)


df = pd.merge(df_kospi, df_kosdaq, on='Date', suffixes=('_kospi', '_kosdaq'))
df

,Open_kospi,High_kospi,Low_kospi,Close_kospi,Adj Close_kospi,Volume_kospi,Open_kosdaq,High_kosdaq,Low_kosdaq,Close_kosdaq,Adj Close_kosdaq,Volume_kosdaq
Date,,,,,,,,,,,,
2003-03-06,564.739990,564.869995,551.799988,555.330017,555.330017,735600.0,394.299988,395.600006,380.200012,381.899994,381.899994,282000.0
2003-03-07,547.890015,555.380005,544.090027,546.020020,546.020020,635100.0,371.100006,373.000000,366.399994,366.899994,366.899994,302600.0
2003-03-10,545.539978,548.289978,541.289978,544.239990,544.239990,607100.0,364.899994,367.700012,361.399994,362.000000,362.000000,286600.0
2003-03-11,531.780029,538.619995,530.549988,532.530029,532.530029,657900.0,353.200012,356.399994,351.899994,354.299988,354.299988,304600.0
2003-03-12,531.169983,534.760010,524.530029,531.809998,531.809998,793800.0,354.299988,368.299988,354.000000,368.299988,368.299988,342400.0
...,...,...,...,...,...,...,...,...,...,...,...,...
2023-02-21,2457.510010,2466.070068,2446.000000,2458.959961,2458.959961,494300.0,789.450012,793.419983,786.479980,793.419983,793.419983,1000.0
2023-02-22,2430.870117,2435.979980,2416.159912,2417.679932,2417.679932,426700.0,782.830017,787.849976,774.539978,778.510010,778.510010,1100.0
2023-02-23,2430.010010,2449.620117,2422.620117,2439.090088,2439.090088,400300.0,782.179993,784.590027,774.099976,783.280029,783.280029,900.0
2023-02-24,2442.489990,2452.969971,2421.469971,2423.610107,2423.610107,369200.0,784.940002,786.090027,774.210022,778.880005,778.880005,1200.0
2023-02-27,2405.419922,2405.560059,2383.760010,2402.639893,2402.639893,357218.0,775.010010,781.539978,769.750000,780.299988,780.299988,1146532.0

In [87]:
df = pd.merge(df, df_dow, on='Date', suffixes=('', '_dow'))
df

,Open_kospi,High_kospi,Low_kospi,Close_kospi,Adj Close_kospi,Volume_kospi,Open_kosdaq,High_kosdaq,Low_kosdaq,Close_kosdaq,Adj Close_kosdaq,Volume_kosdaq,Open,High,Low,Close,Adj Close,Volume
Date,,,,,,,,,,,,,,,,,,
2003-03-06,564.739990,564.869995,551.799988,555.330017,555.330017,735600.0,394.299988,395.600006,380.200012,381.899994,381.899994,282000.0,7774.759766,7777.419922,7659.089844,7673.990234,7673.990234,231760000.0
2003-03-07,547.890015,555.380005,544.090027,546.020020,546.020020,635100.0,371.100006,373.000000,366.399994,366.899994,366.899994,302600.0,7671.750000,7743.819824,7562.649902,7740.029785,7740.029785,310190000.0
2003-03-10,545.539978,548.289978,541.289978,544.239990,544.239990,607100.0,364.899994,367.700012,361.399994,362.000000,362.000000,286600.0,7739.399902,7739.470215,7559.640137,7568.180176,7568.180176,215960000.0
2003-03-11,531.780029,538.619995,530.549988,532.530029,532.530029,657900.0,353.200012,356.399994,351.899994,354.299988,354.299988,304600.0,7568.529785,7642.410156,7520.629883,7524.060059,7524.060059,227470000.0
2003-03-12,531.169983,534.760010,524.530029,531.809998,531.809998,793800.0,354.299988,368.299988,354.000000,368.299988,368.299988,342400.0,7517.759766,7552.069824,7416.640137,7552.069824,7552.069824,286350000.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2022-10-03,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,28855.250000,29647.789063,28855.250000,29490.890625,29490.890625,397830000.0
2022-10-10,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,29419.089844,29485.820313,29010.410156,29202.880859,29202.880859,315410000.0
2022-12-30,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,33121.609375,33152.550781,32847.820313,33147.250000,33147.250000,295500000.0
2023-01-23,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,33439.558594,33782.878906,33316.250000,33629.558594,33629.558594,355220000.0
2023-01-24,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,33444.718750,33782.921875,33310.558594,33733.960938,33733.960938,299310000.0

In [62]:
df

,Open_kospi,High_kospi,Low_kospi,Close_kospi,Adj Close_kospi,Volume_kospi,Open_kosdaq,High_kosdaq,Low_kosdaq,Close_kosdaq,Adj Close_kosdaq,Volume_kosdaq,Open,High,Low,Close,Adj Close,Volume
Date,,,,,,,,,,,,,,,,,,
2003-03-06,564.739990,564.869995,551.799988,555.330017,555.330017,735600.0,394.299988,395.600006,380.200012,381.899994,381.899994,282000.0,7774.759766,7777.419922,7659.089844,7673.990234,7673.990234,231760000
2003-03-07,547.890015,555.380005,544.090027,546.020020,546.020020,635100.0,371.100006,373.000000,366.399994,366.899994,366.899994,302600.0,7671.750000,7743.819824,7562.649902,7740.029785,7740.029785,310190000
2003-03-10,545.539978,548.289978,541.289978,544.239990,544.239990,607100.0,364.899994,367.700012,361.399994,362.000000,362.000000,286600.0,7739.399902,7739.470215,7559.640137,7568.180176,7568.180176,215960000
2003-03-11,531.780029,538.619995,530.549988,532.530029,532.530029,657900.0,353.200012,356.399994,351.899994,354.299988,354.299988,304600.0,7568.529785,7642.410156,7520.629883,7524.060059,7524.060059,227470000
2003-03-12,531.169983,534.760010,524.530029,531.809998,531.809998,793800.0,354.299988,368.299988,354.000000,368.299988,368.299988,342400.0,7517.759766,7552.069824,7416.640137,7552.069824,7552.069824,286350000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2023-02-21,2457.510010,2466.070068,2446.000000,2458.959961,2458.959961,494300.0,789.450012,793.419983,786.479980,793.419983,793.419983,1000.0,33699.691406,33699.691406,33115.738281,33129.589844,33129.589844,348320000
2023-02-22,2430.870117,2435.979980,2416.159912,2417.679932,2417.679932,426700.0,782.830017,787.849976,774.539978,778.510010,778.510010,1100.0,33169.328125,33245.968750,32948.269531,33045.089844,33045.089844,321910000
2023-02-23,2430.010010,2449.620117,2422.620117,2439.090088,2439.090088,400300.0,782.179993,784.590027,774.099976,783.280029,783.280029,900.0,33175.390625,33272.398438,32795.671875,33153.910156,33153.910156,288120000
2023-02-24,2442.489990,2452.969971,2421.469971,2423.610107,2423.610107,369200.0,784.940002,786.090027,774.210022,778.880005,778.880005,1200.0,32999.191406,32999.191406,32643.480469,32816.921875,32816.921875,277120000
2023-02-27,2405.419922,2405.560059,2383.760010,2402.639893,2402.639893,357218.0,775.010010,781.539978,769.750000,780.299988,780.299988,1146532.0,32906.160156,33189.281250,32906.160156,32998.730469,32998.730469,66522806

In [85]:
df = pd.merge(df, df_nasdaq, on='Date', suffixes=('', '_nasdaq'))
df

,Open_kospi,High_kospi,Low_kospi,Close_kospi,Adj Close_kospi,Volume_kospi,Open_kosdaq,High_kosdaq,Low_kosdaq,Close_kosdaq,Adj Close_kosdaq,Volume_kosdaq,Open,High,Low,Close,Adj Close,Volume
Date,,,,,,,,,,,,,,,,,,
2003-03-06,564.739990,564.869995,551.799988,555.330017,555.330017,735600.0,394.299988,395.600006,380.200012,381.899994,381.899994,282000.0,1306.069946,1312.609985,1299.810059,1302.890015,1302.890015,1262310000
2003-03-07,547.890015,555.380005,544.090027,546.020020,546.020020,635100.0,371.100006,373.000000,366.399994,366.899994,366.899994,302600.0,1285.300049,1310.530029,1280.719971,1305.290039,1305.290039,1436040000
2003-03-10,545.539978,548.289978,541.289978,544.239990,544.239990,607100.0,364.899994,367.700012,361.399994,362.000000,362.000000,286600.0,1295.459961,1299.550049,1277.180054,1278.369995,1278.369995,1119970000
2003-03-11,531.780029,538.619995,530.549988,532.530029,532.530029,657900.0,353.200012,356.399994,351.899994,354.299988,354.299988,304600.0,1280.729980,1288.989990,1269.479980,1271.469971,1271.469971,1251740000
2003-03-12,531.169983,534.760010,524.530029,531.809998,531.809998,793800.0,354.299988,368.299988,354.000000,368.299988,368.299988,342400.0,1266.989990,1279.589966,1253.219971,1279.239990,1279.239990,1533600000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2023-02-21,2457.510010,2466.070068,2446.000000,2458.959961,2458.959961,494300.0,789.450012,793.419983,786.479980,793.419983,793.419983,1000.0,11640.370117,11684.139648,11491.179688,11492.299805,11492.299805,5002540000
2023-02-22,2430.870117,2435.979980,2416.159912,2417.679932,2417.679932,426700.0,782.830017,787.849976,774.539978,778.510010,778.510010,1100.0,11517.200195,11582.519531,11445.169922,11507.070313,11507.070313,4671270000
2023-02-23,2430.010010,2449.620117,2422.620117,2439.090088,2439.090088,400300.0,782.179993,784.590027,774.099976,783.280029,783.280029,900.0,11636.929688,11638.980469,11432.580078,11590.400391,11590.400391,4714580000
2023-02-24,2442.489990,2452.969971,2421.469971,2423.610107,2423.610107,369200.0,784.940002,786.090027,774.210022,778.880005,778.880005,1200.0,11404.179688,11434.360352,11334.469727,11394.940430,11394.940430,4432650000
2023-02-27,2405.419922,2405.560059,2383.760010,2402.639893,2402.639893,357218.0,775.010010,781.539978,769.750000,780.299988,780.299988,1146532.0,11517.200195,11565.231445,11474.703125,11497.204102,11497.204102,1446322000

In [69]:
df = pd.merge(df, df_snp500, on='Date', suffixes=('', '_S&P500'))
df

,Open_kospi,High_kospi,Low_kospi,Close_kospi,Adj Close_kospi,Volume_kospi,Open_kosdaq,High_kosdaq,Low_kosdaq,Close_kosdaq,Adj Close_kosdaq,Volume_kosdaq,Open,High,Low,Close,Adj Close,Volume,Open_nasdaq,High_nasdaq,Low_nasdaq,Close_nasdaq,Adj Close_nasdaq,Volume_nasdaq,Open_S&P500,High_S&P500,Low_S&P500,Close_S&P500,Adj Close_S&P500,Volume_S&P500
Date,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,
2003-03-06,564.739990,564.869995,551.799988,555.330017,555.330017,735600.0,394.299988,395.600006,380.200012,381.899994,381.899994,282000.0,7774.759766,7777.419922,7659.089844,7673.990234,7673.990234,231760000,1306.069946,1312.609985,1299.810059,1302.890015,1302.890015,1262310000,829.849976,829.849976,819.849976,822.099976,822.099976,1299200000
2003-03-07,547.890015,555.380005,544.090027,546.020020,546.020020,635100.0,371.100006,373.000000,366.399994,366.899994,366.899994,302600.0,7671.750000,7743.819824,7562.649902,7740.029785,7740.029785,310190000,1285.300049,1310.530029,1280.719971,1305.290039,1305.290039,1436040000,822.099976,829.549988,811.229980,828.890015,828.890015,1368500000
2003-03-10,545.539978,548.289978,541.289978,544.239990,544.239990,607100.0,364.899994,367.700012,361.399994,362.000000,362.000000,286600.0,7739.399902,7739.470215,7559.640137,7568.180176,7568.180176,215960000,1295.459961,1299.550049,1277.180054,1278.369995,1278.369995,1119970000,828.890015,828.890015,806.570007,807.479980,807.479980,1255000000
2003-03-11,531.780029,538.619995,530.549988,532.530029,532.530029,657900.0,353.200012,356.399994,351.899994,354.299988,354.299988,304600.0,7568.529785,7642.410156,7520.629883,7524.060059,7524.060059,227470000,1280.729980,1288.989990,1269.479980,1271.469971,1271.469971,1251740000,807.479980,814.250000,800.299988,800.729980,800.729980,1427700000
2003-03-12,531.169983,534.760010,524.530029,531.809998,531.809998,793800.0,354.299988,368.299988,354.000000,368.299988,368.299988,342400.0,7517.759766,7552.069824,7416.640137,7552.069824,7552.069824,286350000,1266.989990,1279.589966,1253.219971,1279.239990,1279.239990,1533600000,800.729980,804.190002,788.900024,804.190002,804.190002,1620000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2023-02-21,2457.510010,2466.070068,2446.000000,2458.959961,2458.959961,494300.0,789.450012,793.419983,786.479980,793.419983,793.419983,1000.0,33699.691406,33699.691406,33115.738281,33129.589844,33129.589844,348320000,11640.370117,11684.139648,11491.179688,11492.299805,11492.299805,5002540000,4052.350098,4052.350098,3995.189941,3997.340088,3997.340088,4121590000
2023-02-22,2430.870117,2435.979980,2416.159912,2417.679932,2417.679932,426700.0,782.830017,787.849976,774.539978,778.510010,778.510010,1100.0,33169.328125,33245.968750,32948.269531,33045.089844,33045.089844,321910000,11517.200195,11582.519531,11445.169922,11507.070313,11507.070313,4671270000,4001.830078,4017.370117,3976.899902,3991.050049,3991.050049,4079320000
2023-02-23,2430.010010,2449.620117,2422.620117,2439.090088,2439.090088,400300.0,782.179993,784.590027,774.099976,783.280029,783.280029,900.0,33175.390625,33272.398438,32795.671875,33153.910156,33153.910156,288120000,11636.929688,11638.980469,11432.580078,11590.400391,11590.400391,4714580000,4018.600098,4028.300049,3969.189941,4012.320068,4012.320068,3952940000
2023-02-24,2442.489990,2452.969971,2421.469971,2423.610107,2423.610107,369200.0,784.940002,786.090027,774.210022,778.880005,778.880005,1200.0,32999.191406,32999.191406,32643.480469,32816.921875,32816.921875,277120000,11404.179688,11434.360352,11334.469727,11394.940430,11394.940430,4432650000,3973.239990,3978.250000,3943.080078,3970.040039,3970.040039,3877700000
2023-02-27,2405.419922,2405.560059,2383.760010,2402.639893,2402.639893,357218.0,775.010010,781.539978,769.750000,780.299988,780.299988,1146532.0,32906.160156,33189.281250,32906.160156,32998.730469,32998.730469,66522806,11517.200195,11565.231445,11474.703125,11497.204102,11497.204102,1446322000,3992.360107,4018.050049,3992.229980,3998.850098,3998.850098,568905011

In [51]:
pd.set_option('display.max_rows', 10)

In [43]:
df.head(10)

,Open_kospi,High_kospi,Low_kospi,Close_kospi,Adj Close_kospi,Volume_kospi,Open_kosdaq,High_kosdaq,Low_kosdaq,Close_kosdaq,Adj Close_kosdaq,Volume_kosdaq,Open,High,Low,Close,Adj Close,Volume,Open_nasdaq,High_nasdaq,Low_nasdaq,Close_nasdaq,Adj Close_nasdaq,Volume_nasdaq,Open_S&P500,High_S&P500,Low_S&P500,Close_S&P500,Adj Close_S&P500,Volume_S&P500
Date,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,
2003-03-06,564.739990,564.869995,551.799988,555.330017,555.330017,735600.0,394.299988,395.600006,380.200012,381.899994,381.899994,282000.0,7774.759766,7777.419922,7659.089844,7673.990234,7673.990234,231760000,1306.069946,1312.609985,1299.810059,1302.890015,1302.890015,1262310000,829.849976,829.849976,819.849976,822.099976,822.099976,1299200000
2003-03-07,547.890015,555.380005,544.090027,546.020020,546.020020,635100.0,371.100006,373.000000,366.399994,366.899994,366.899994,302600.0,7671.750000,7743.819824,7562.649902,7740.029785,7740.029785,310190000,1285.300049,1310.530029,1280.719971,1305.290039,1305.290039,1436040000,822.099976,829.549988,811.229980,828.890015,828.890015,1368500000
2003-03-10,545.539978,548.289978,541.289978,544.239990,544.239990,607100.0,364.899994,367.700012,361.399994,362.000000,362.000000,286600.0,7739.399902,7739.470215,7559.640137,7568.180176,7568.180176,215960000,1295.459961,1299.550049,1277.180054,1278.369995,1278.369995,1119970000,828.890015,828.890015,806.570007,807.479980,807.479980,1255000000
2003-03-11,531.780029,538.619995,530.549988,532.530029,532.530029,657900.0,353.200012,356.399994,351.899994,354.299988,354.299988,304600.0,7568.529785,7642.410156,7520.629883,7524.060059,7524.060059,227470000,1280.729980,1288.989990,1269.479980,1271.469971,1271.469971,1251740000,807.479980,814.250000,800.299988,800.729980,800.729980,1427700000
2003-03-12,531.169983,534.760010,524.530029,531.809998,531.809998,793800.0,354.299988,368.299988,354.000000,368.299988,368.299988,342400.0,7517.759766,7552.069824,7416.640137,7552.069824,7552.069824,286350000,1266.989990,1279.589966,1253.219971,1279.239990,1279.239990,1533600000,800.729980,804.190002,788.900024,804.190002,804.190002,1620000000
2003-03-13,530.859985,531.780029,514.429993,531.780029,531.780029,679700.0,370.600006,371.100006,356.299988,360.700012,360.700012,313200.0,7555.290039,7824.339844,7555.290039,7821.750000,7821.750000,346650000,1297.739990,1340.780029,1290.589966,1340.770020,1340.770020,1789080000,804.190002,832.020020,804.190002,831.900024,831.900024,1816300000
2003-03-14,547.289978,548.450012,534.510010,537.650024,537.650024,758900.0,377.299988,379.899994,369.200012,370.100006,370.100006,272300.0,7822.169922,7931.629883,7799.479980,7859.709961,7859.709961,301760000,1344.260010,1352.839966,1329.969971,1340.329956,1340.329956,1611050000,831.890015,841.390015,828.260010,833.270020,833.270020,1541900000
2003-03-17,535.789978,535.789978,512.299988,515.239990,515.239990,640100.0,366.799988,366.799988,344.600006,346.399994,346.399994,293300.0,7857.959961,8145.839844,7779.729980,8141.919922,8141.919922,356750000,1329.949951,1392.410034,1326.280029,1392.270020,1392.270020,1886510000,833.270020,862.789978,827.169983,862.789978,862.789978,1700420000
2003-03-18,536.690002,539.299988,526.859985,537.309998,537.309998,682900.0,363.500000,366.399994,358.000000,365.000000,365.000000,328100.0,8142.689941,8209.360352,8096.120117,8194.230469,8194.230469,302750000,1392.000000,1400.550049,1378.829956,1400.550049,1400.550049,1632220000,862.789978,866.940002,857.359985,866.450012,866.450012,1555100000
2003-03-19,534.859985,546.679993,534.640015,541.780029,541.780029,615600.0,364.500000,373.200012,364.399994,367.700012,367.700012,306000.0,8193.040039,8277.639648,8141.500000,8265.450195,8265.450195,277110000,1396.270020,1401.239990,1378.569946,1397.069946,1397.069946,1694670000,866.450012,874.989990,861.210022,874.020020,874.020020,1473400000